/* FOOTER */
/* ***** */

footer {
    background-color: var(--colorFooter);
    font-size: 16px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}
/*Links redes*/
.linksFooter{
    display: flex;
    flex-direction: column;
    color: var(--colorBlanco);
    font-style: bold;
}
.linksFooter__redes{
}
li{
    line-height: 40px;
}
.linksFooter__redes__titulo{
}
.linksFooter__redes__1,
.linksFooter__redes__2,
.linksFooter__redes__3{
    text-indent: 20%;
}
 /*Links menus*/
 .linksFooter__menu{
}
 .linksFooter__menu__titulo{

 }
 .linksFooter__menu__1,
 .linksFooter__menu__2,
 .linksFooter__menu__3{
     text-indent: 20%;
 }
/*info*/
.infoFooter__explicacion{
    text-align: center;
    color: var(--colorBlanco)
}
.infoFooter__copy{
    text-align: center;
    color: var(--colorBlanco)
}
/*desktop*/
/*media Querys*/
@media only screen and (min-width: 1000px) {
    .linksFooter{
        flex-direction: row;
    }
    .linksFooter__redes{
        flex-grow: 0.1;
    }
}